<% include partials/header %>
<%
var monthNames = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'];
%>
<div class="container">
  <div id="posts-page">
    <h1 class="text-center">Adventure Posts</h1>
    <% posts.forEach(function(post){ %>
      <%
      var post_d = post.timeCreated.getDate();
      var post_m = monthNames[post.timeCreated.getMonth()];
      var post_y = post.timeCreated.getFullYear();

      %>
      <a href="/posts/<%= post._id %>">
        <div class="adventure-post">
          <div class="row">
            <div class="col-xl-3 col-lg-4 col-md-5 col-xs-12">
              <img src="<%= post.image %>" class="img-fluid" alt="Responsive image">
            </div>
            <div class="col-xl-9 col-lg-8 col-md-7 col-xs-12">
              <h5>
                <%= post.title %>
              </h5>
              <p>
                <%- post.description.substring(0, 200) %>
                  <!-- truncate long posts on blogs page -->
                <% if(post.description.length > 200){ %>
                  ...
                <% } %>
              </p>
              <p>
                <small class="post-author text-muted">Posted by <%= post.author.username %></small>
                <small class="post-date text-muted"><%= post_m + ' ' + post_d + ' ' + post_y %></small>
              </p>
            </div>
          </div>
        </div>
      </a>
    <% }); %>
    <div class="pagination">
      <a href="/posts/page/<%= activePage - 1 %>"><button class="prev">&lt;&lt;</button></a>
      <% for(var i = 1; i <= pageCount; i++) { %>
        <% if(activePage === i) { %>
          <a href="/posts/page/<%= i %>"><button class="pagenum active"><%= i %></button></a>
        <% } else { %>
          <a href="/posts/page/<%= i %>"><button class="pagenum"><%= i %></button></a>
        <% } %>
      <% } %>
      <a href="/posts/page/<%= activePage + 1 %>"><button class="next">&gt;&gt;</button></a>
    </div>
  </div>
</div>

<% include partials/footer %>