<% include partials/header %>
<%
var monthNames = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'];

var post_d = post.timeCreated.getDate();
var post_m = monthNames[post.timeCreated.getMonth()];
var post_y = post.timeCreated.getFullYear();

%>
<div class="container showpost-container">
  <div id="showpost-page">
    <div class="card mb-3">
      <img class="card-img-top" src="<%= post.image %>" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title"><%= post.title %></h5>
        <p id="post-content" class="card-text"><%= post.description %></p>
        <% if(currentUser && post.author.id.equals(currentUser._id)){ %>
        <button class="edit-content"><i class="fa fa-edit"></i> Add Content</button>
        <% } %>
        <div class="row">
          <div class="col">
            <p class="card-text">
              <small class="text-muted">Posted by
                <%= post.author.username %>
              </small>
            </p>
            <p class="card-text">
              <small class="text-muted"><%= post_m + ' ' + post_d + ' ' + post_y %></small>
            </p>
          </div>
          <div class="col">
            <% if(currentUser && post.author.id.equals(currentUser._id)){ %>
            <form class="delete-form" action="/posts/<%= post._id %>?_method=DELETE" method="POST">
              <button class="btn btn-outline-danger">Delete</button>
            </form>
            <a href="/posts/<%= post._id %>/edit" class="edit-btn btn btn-outline-warning">Edit</a>
            <% } %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<% include partials/footer %>