<% include partials/header %>
<%
var monthNames = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'];

var user_d = adventurer.timeCreated.getDate();
var user_m = monthNames[adventurer.timeCreated.getMonth()];
var user_y = adventurer.timeCreated.getFullYear();

%>
<div class="container adventurer-container">
  <div id="user-profile">
    <div class="user-banner">
      <a href="image/<%= coverImage %>"><img src="image/<%= coverImage %>" class="show-user-banner" alt="<%= adventurer.username %>"></a>
      <a href="image/<%= profileImage %>">
        <div class="show-user-img">
          <img src="image/<%= profileImage %>" class="mx-auto d-block" alt="<%= adventurer.username %>">
        </div>
      </a>
      <div class="user-info">
        <span><b>Name:</b> <%= adventurer.username %></span>
        <span><b>Country:</b> Philippines</span>
        <span><b>Member since:</b> <%= user_m + ' ' + user_d + ' ' + user_y %></span>
        <span><b>Followers:</b> 1 million</span>
      </div>
      <% if(currentUser && adventurer.userAuth.id.equals(currentUser._id)){ %>
        <div class="change-image">
          <button id="edit-button">Edit</button>
          <div class="image-form">
            <span>Max filesize: 1MB</span>
            <form action="/adventurers/<%= adventurer.username %>/profile_image" method="POST" enctype="multipart/form-data">
              <div class="form-group">
                <label for="prof-img-input">Change Profile Photo</label>
                <input type="file" class="form-control-file" name="image" id="prof-img-input" required>
              </div>
              <button type="submit" class="btn btn-sm ml-auto apply">Apply</button>
            </form>
            <form action="/adventurers/<%= adventurer.username %>/cover_image" method="POST" enctype="multipart/form-data">
              <div class="form-group">
                <label for="cover-img-input">Change Cover Photo</label>
                <input type="file" class="form-control-file" name="image" id="cover-img-input" required>
              </div>
              <button type="submit" class="btn btn-sm ml-auto apply">Apply</button>
            </form>
          </div>
        </div>
      <% } %>
    </div>
    <h1 class="text-center">Adventurer's Posts</h1>
    <hr>
    <% adventurer.posts.forEach(function(post){ %>
    <%
     var post_d = post.timeCreated.getDate();
     var post_m = monthNames[post.timeCreated.getMonth()];
     var post_y = post.timeCreated.getFullYear();

    %>
    <a href="/posts/<%= post._id %>">
      <div class="adventure-post">
        <div class="row">
          <div class="col-xl-3 col-lg-4 col-md-5 padding-0">
            <img src="<%= post.image %>" class="img-fluid" alt="Responsive image">
          </div>
          <div class="col-xl-9 col-lg-8 col-md-7 padding-0">
            <h5>
              <%= post.title %>
            </h5>
            <p>
              <%- post.description.substring(0, 200) %>
                <!-- truncate long posts on blogs page -->
                <% if(post.description.length > 200){ %>
                  ...
                  <% } %>
            </p>
            <p>
              <small class="post-author text-muted">Posted by
                <%= post.author.username %>
              </small>
              <small class="post-date text-muted"><%= post_m + ' ' + post_d + ' ' + post_y %></small>
            </p>
          </div>
        </div>
      </div>
    </a>
    <% }); %>
  </div>
</div>

<% include partials/footer %>